<div id="idCard">
    <h1>Here is your completed ID Card</h1>
    <div class="idCard-info">
        <img class="co-logo" src="https://www.afake.com/images/afake_logo.png" alt="company logo">
        <p><span>Full name: </span>{{userFN}}</p>
        <p><span>Email: </span>{{email}}</p>
        <p><span>Age: </span>{{age}}</p>
        <p><span>Address:</span> {{address}}</p>
        <img class="barcode"
            src="https://www.freepnglogos.com/uploads/barcode-png/barcode-laser-code-vector-graphic-pixabay-3.png"
            alt="barcode">
    </div>

</div>